.carouselcard-container .cart-carousel{
    display: flex;
    overflow-x: hidden;
  }

  .carouselcard .carouselcard-slides,
  .carouselcard .carouselcard-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carouselcard .carouselcard-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    flex-direction: column;
    background-color: #fff;
  }

  .carouselcard .carouselcard-slide .carouselcard-slide-image picture > img {
    height: 200px;
    width: auto;
    object-fit: contain;
  }
  
  .carouselcard .carouselcard-slide .carouselcard-slide-content {
    z-index: 1;
    margin: 68px;
    padding: 16px;
    color: white;
    background-color: rgba(19 19 19 / 75%);
    position: relative;
    width: var(--slide-content-width, auto);
  }
  
  .carouselcard-wrapper .carouselcard-slide-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px 12px;
    padding: 12px;
    line-height: 0;
  }

  .carouselcard .carouselcard-slide-content h3,.carouselcard .carouselcard-slide-content p {
    font-size: 1rem;
    font-weight: 100;
    font-family: Muli, sans-serif;
  }

  .carouselcard-wrapper .carouselcard-slide-indicators .carouselcard-slide-indicator{
    width: 10px;
    height: 10px;
    border: solid 1px #9ca3af;
    border-radius: 50%;
    list-style-type: none;
    background-color: #9ca3af;
    cursor: pointer;
  }

  .carouselcard-wrapper .carouselcard-slide-indicator:active,.carouselcard-slide-indicator.active{
    border: solid 1px #000;
    background-color: #000;
  }

  .carouselcard .carouselcard-slides.show{
    display: flex;
  }

  .carouselcard .carouselcard-slides.hide{
    display: none;
  }

  @media (width > 900px){
    .carouselcard .carouselcard-slides {
        min-width: 250px;
    }
  }
  
  @media (width < 900px){
    .carouselcard .carouselcard-slides {
        min-width: 180px;
    }
  }